.search_input {
  width: 20rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #008080;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.search_btn {
  background-color: #008080;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.search_btn:hover {
  background-color: #005050;
}

.error_message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 1rem;
}
